body {
	padding: 0;
	margin: 0;
	border: 0;
	overflow-x: hidden;
	background-color: #1f2224;
	color: white;
}

iframe {
	width: 100%;
}

.content {
	padding-left: 15px;
	padding-right: 15px;
}

.body {
	font-size: 17px;
}

table {
	width: 100% !important;
}

.pds-box {
	width: 80% !important;
}

p.title {
	text-align: left;
	font-weight: bold;
	font-size: 22px;
	color: white;
	padding-bottom: 0px;
	margin-bottom: 2px;
}

p.subtitle {
	text-align: left;
	font-size: 13px;
	color: #d3d3d3;
	padding-top: 0px;
	margin-top: 0px;
}

img {
	width: auto !important;
	height: auto !important;
	max-width: 100% !important;
}

.google-play-button {
    float: left;
}

.google-play-button img {
	padding-left: 5px;
	padding-right: 5px;
}

.media-gallery {
    display: none;
}

.gallery {
    position: relative;
    display: inline-block;
    width: 100%;
}

.gallery span {
    background: url(fullscreen.png) center center no-repeat;
    background-size:30% auto;
    display:block;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.4;
}

.video {
	position:relative;
	display: inline-block;
	width: 100%;
}

.video span {
	background: url(youtube_play_button.png) center center no-repeat;
	background-size:20% auto;
	display:block;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.4;
}

a {
	color: #2472BB;
}
